# dependencies
node_modules/

# next.js
.next/
.swc
out/

# production
build

# misc
.DS_Store
*.pem
*.log

# Rust build cache
**/target

crates/hkx-serde/assets/*
!crates/hkx-serde/assets/readme.md

/tests/**/
